.about-container {
    background-color: white;
}

.about-1 h1 {
    background-color: #212329;
    font-size: xx-large;
    text-align: center;
    color: rgb(255, 255, 255);
}


.about-headings-links h1 {
    background-color: white;
    text-align: center;
    font-size: small;
    
}
.about-heading2 a {
    color: #fff;
    text-align: center;

}
.about-heading a:hover {
    color: black;
    transition: 0.3s ease-out;
}

.about-heading h {
 color: black;
}