* {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding:0;
}

nav {
    background-color: #696969;
    width:100%;
    flex-direction: column;
}

nav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 12px;
    margin-right: 12px;
    font-size: 16px;
  }

nav ul {
    list-style-type: none;
    color: #696969;
    margin-top: 20px;
    padding: 0;
    overflow: hidden;
}

nav li a {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    padding: 20px 30px;
    }

nav li {
    float: left; 
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

li a:hover {
    background-color:crimson;
    transition: 2s;
    color: grey;
}

@media only screen and (max-width: 600px) {
    /* for mobile devices */
      nav a, nav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 10px;
      }
      nav input[type=text] {
        border: 1px solid #ccc;
      }
      nav ul {
          margin-top: 0;
          padding-top: 5px;
          overflow: hidden;
      }
}   