* {
	background-color: cyan;
}

.tec2 {
	margin-top: 50px;
}

.tec3{
	margin-top: 50px;
}
/*
.tec{
	margin-bottom: 50px;
}*/

./*logo{
	float: left;
}
h1{
	float:  left;
}*/

/*h1 {
	color: white;
	font-family: verdana;
	padding-right: 10px;
	float: left;
	margin-top: 20px;
	

}

.logo {
	margin-top: 20px;
	padding-right: 10px;
	float: left;*/